name: PullRequest

on:
  push:
    paths:
      - .github/workflows/pr.yaml
      - Dockerfile

  pull_request:
    paths:
      - .github/workflows/pr.yaml
      - Dockerfile

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build docker image
      run: make docker-build
